* {
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

form {
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Noto Sans JP', sans-serif;
}

header {
    background: darkslategray;
    color: darkgrey;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.first-fs {
    border-top: 7px double darkslategray;
}

body {
    background: whitesmoke;
    display: block;
    font-family: 'Noto Sans JP', Arial, Helvetica, sans-serif;
}

:placeholder-shown {
    text-align: right;
    padding-right: 10px;
    font-style: italic;
    font-size: small;
}

textarea:placeholder-shown {
    text-align: left;
}

.first-list {
    padding-left: 0;
}

.second-list {
    padding-left: 0;
}

.third-list {
    padding-left: 0;
}

h2 {
    text-align: center;
    font-size: larger;
    padding-top: 20px;
}

.content {
    text-align: left;
    color: black;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 10px;
}

p {
    text-align: center;
    color: gray;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

legend {
    margin-top: 15px;
    font-size: larger;
}

legend b {
    margin-bottom: 15px;
    position: absolute;
    padding-top: 15px;
    padding-bottom: 15px;
}

.newsletter {
    border-top: 3px solid darkslategray;
}

.second {
    position: absolute;
    padding-bottom: 15px;
    margin-top: 0;
    font-size: larger;
    font-weight: bold;
}

.third {
    font-size: medium;
    padding-top: 15px;
}

fieldset {
    border: none;
    padding-top: 20px;
}

.format {
    margin: 0 2px 0;
    border-top: 1.188px;
    padding: 15px 12px 15px;
}

label {
    margin-bottom: 10px;
    margin-top: 10px;
}

label[for="name"] {
    float: left;
}

label b {
    font-size: larger;
    padding-bottom: 10px;
    padding-top: 15px;
}

button {
    background: darkturquoise;
    color: white;
    padding: 20px 20px;
    margin-left: 11px;
    margin-top: 10px;
    width: 95%;
    border-radius: 5px;
    border: none;
}

input[type="radio"] {
    margin: 15px 5px 10px;
    display: inline-block;
}

input[type="checkbox"] {
    margin: 15px 5px 10px;
}

.group input,
.group label {
   display: block;
   width: 100%;
   padding-top: 20px;
   margin-top: 10px;
}

select {
    width: 100%;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 17px 15px;
    border: none;
    border-radius: 5px;
}

input {
    background: lightgray;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    border-radius: 5px;
}

input:focus {
    background-color: lavender;
    transition: all 1s ease-out;
  }

input[name="user_zip"] {
    width: 50%;
}

option {
    background: whitesmoke;
}

.txt-a {
    margin-left: 12px;
}

textarea {
    overflow: auto;
    background: lightgray;
    width: 94%;
    height: 100px;
    margin-left: 14px;
    margin-top: 13px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
}

textarea:focus {
    background-color: lavender;
}

footer {
    text-align: center;
    font-size: small;
    color: grey;
    padding-top: 15px;
    padding-bottom: 150px;
}

.interests {
    border: none;
}

/*  Media Queries  */

@media (min-width: 768px) {
    
    .group {
        display: flex;
    }
      
    .group label {
        width: unset;
        flex-basis: 25%;
    }

    .group input,
    .group select {
        flex-basis: 70%;
        flex-grow: 1;
        height: 55px;
    }

    #zip {
        max-width: 25%;
    }

    form {
        padding-left: 100px;
        padding-right: 100px;
    }

}